* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0f0209;
}
button {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;

    background: #350642;
    color: #fff;

    cursor: pointer;
    transition: .5s;
    overflow: hidden;

    box-shadow: 10px 10px 10px rgba(35, 34, 34, 0.777);
}

button:hover{
    color: whitesmoke;
}
button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}
button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom:-100%;
    left: 0;
}
button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}
button:hover span:nth-child(2) {
    right: 0;
}
button:hover span:nth-child(3) {
    bottom: 0;
}
button:hover span:nth-child(4) {
    top: 0;
}